.sun {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50px;
    margin-left: 400px;
    margin-bottom: 50px;

}

.grass {
    height: 35px;
    background-color: blueviolet;
    
    
    
}

.brown {
    background-color: brown;
    height: 25px;
    width: 50px;
    margin-left: 100px;
    
    
}

.log {
    background-color: green;
    height: px;
    width: 50px;
    margin-left: 200px;
    
}

.shape {
    height: 50px;
    width:500px;
    background-color: blue;
    border-radius: 400px;
}

.sky {
    height: 75px;
    
    background-color: aqua;
}





h2 {
    font-style: oblique;
    text-decoration-line: underline;
}

@media (min-width: 768px) {
    .sky {
        flex-direction: row;
        background-color: aqua;
    }
}



.shape {
    position: absolute;
    z-index: 5;

}

.log {
    position: absolute;
    z-index: 7;
    height: 150px;
    
}

